@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.weather-wrapper {
    // background-image: url("../pics/bg1.jpg");
    // background-color: #ebecf0;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    // overflow: hidden;
    position: relative;
    width: 100%;
    font-family: "Montserrat", sans-serif;

    .navb-weather {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 30px;

        .logo-weather {
            display: flex;
            align-items: center;
            text-align: center;
            .logo-icon {
                height: 2rem;
                width: 2rem;
                margin-right: 5px;
                margin-bottom: 7px;
            }
            .logo-name {
                color: #fff;
                h1 {
                    font-weight: bold !important;
                }
            }
        }

        .search-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 2.5rem;
            border-radius: 1rem;
            padding: 10px;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
            ::placeholder {
                color: #272829;
            }
        }

        .search-bar input {
            flex: 1;
            border: none;
            background: transparent;
            outline: none;
            padding-left: 20px;
            font-size: 16px;
            color: #272829;
            text-transform: uppercase;
        }

        .search-bar button {
            background: none;
            border: none;
            cursor: pointer;
            padding-right: 20px;
        }
    }

    .weather-detail {
        min-height: auto;
        display: flex;
        justify-content: center;
        text-align: center;
        border-radius: 1rem;
        font-weight: bold !important;
        padding: 20px;
        margin: 40px;
        .container {
            .row {
                color: #272829;
                height: 100%;
                img {
                    height: 18rem;
                    width: 18rem;
                    margin-bottom: 20px;
                }
                .col {
                    margin: 5px;
                    .row {
                        .col {
                            display: flex;
                            align-items: center;
                            text-align: center;
                            justify-content: center;
                            border-radius: 1rem;
                            padding: 20px;
                            background-color: #fff;
                            box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
                            gap: 2.5rem;
                            p {
                                font-size: 18px;
                            }
                            svg {
                                height: 5rem;
                                width: 5rem;
                                margin-right: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .weather-wrapper {
        .navb-weather {
            flex-direction: column;

            .search-bar {
                margin-top: 20px;
            }
        }
        .weather-detail {
            height: auto !important;
            padding: 5px;
            margin: 0;
            .container {
                .row {
                    color: #272829;
                    height: 100%;
                    img {
                        height: 12rem;
                        width: 12rem;
                        margin-bottom: 10px;
                    }
                    .col {
                        .row {
                            .col {
                                svg {
                                    height: 4rem;
                                    width: 4rem;
                                }
                                p {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .weather-wrapper {
        .weather-detail {
            .container {
                .row {
                    .row {
                        .col {
                            width: 50vh;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .weather-wrapper {
        .weather-detail {
            .container {
                .row {
                    .row {
                        .col {
                            width: 60vh;
                        }
                    }
                }
            }
        }
    }
}
